@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* Font and background */
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    height: 100vh;
}

/* Animations */
@keyframes header-button {
  0% { background: rgba(0,0,0,0); border-bottom: none; }
  100% { border-bottom: 3px solid white; background: rgb(0,0,0, 0.1); }
}

@keyframes rainbow-color {
    0% { color: red; }
    12.5% { color: orange; }
    25% { color: yellow; }
    37.5% { color: green; }
    50% { color: cyan; }
    62.5% { color: lightblue; }
    75% { color: magenta; }
    87.5% { color: purple; }
    100% { color: red; }
}
/* End of animations */

/* Navbar */ 
.header {
    background: #e6b400ac;
    height: 48px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3); 
}

.header a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-shadow: 0 2px 2px rgb(0 0 0 / 25%);  
}

.header a:hover {
    border-bottom: 3px solid white;
    background: rgb(0,0,0, 0.1);
    animation: header-button 0.5s;
}

img.header-logo {
    display: block;
    float: left;
    width: 48px;
    height: 48px;
}

/* Welcome box */
.welcome-box {
    background: rgb(184, 184, 21);
    padding: 20px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.3); 
    color: white;
    font-size: 17px;
}

/* Content */
main {
    box-sizing: border-box;
    padding: 10px;
}

.content {
    text-align: center;
}

main a {
    animation: rainbow-color linear 10s infinite;
    text-decoration: none;
}

main > div {
    text-align: center;
}

/* Content elements */
.thumb {
    width: 250px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content-box {
    padding: 5px;
    width: 30%;
}

/* Misc */
.italic { 
    font-style: italic;
}
.left {
   float: left;
}
.marquee {
    animation: marquee 20s linear infinite;
}

.text-muted {
    color: rgba(33, 37, 41, 0.74);
}

/* THE THANKS IN HOME PAGE - PROB WILL BE REMOVED LATER */
.thanks {
    padding: 50px;
    border-radius: 10px;
}
.thanks img {
     border-radius: 10px;
}